.modal {
  background: #73ba76;
  opacity: 0.9;
}

/* =========== 1024 ========== */
@media (max-width: 1024px) {
  .ban {
    height: 95px !important;
  }

  /* ======= New css add here ======== */
  .home-header2 #essential-homebanner .slider-sub-title {
    font-size: 350.75%;
  }

  .home-header2 #essential-homebanner .slider-container {
    padding: 220px 50px 45px 50px !important;
  }

  .home-header2 .slider-form form {
    width: 55%;
  }

  #category-filter .filter-products .col-12 {
    padding-right: 15px;
  }

  .grid-top {
    padding-right: 0;
  }

  #essential-homebanner .slider-sub-title {
    font-size: 45px;
  }

  #essential-homebanner .slider-title {
    font-size: 35px;
  }

  #essential-homebanner .slider-container {
    padding-top: 260px !important;
  }

  .blogs-holder {
    padding: 65px 96px;
  }

  .about-service .working-content {
    padding: 50px 35px 40px 0;
  }

  .circle_progress {
    margin-bottom: 50px;
  }

  #essential-about .owl-stage-outer.owl-height {
    padding-bottom: 0;
  }

  .organics .popular-product {
    margin-top: 35px;
  }

  .our-speech .review-holderinner {
    padding: 70px 30px 20px !important;
  }

  .blogs-holder .blog-title,
  .cart-section h2 {
    font-size: 18px;
  }

  .category-sidebar {
    padding-left: 15px;
  }

  .contact-section {
    padding: 100px 35px 65px;
  }

  .contact-column .row div {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  .contact-right {
    padding-left: 0;
  }

  .cart-section .table td {
    width: auto;
  }

  .cart-section .table th {
    font-size: 18px;
  }

  .cart-section .img-product {
    min-width: 100px;
    min-height: 80px;
  }

  .cart-detail .input-group {
    width: 80%;
  }

  .product_details .product-thumb {
    margin-bottom: 30px;
  }

  .detail_right .qty_weight input {
    max-width: 35px;
  }

  .detail_right .qty_weight .input-group-btn {
    padding: 0 5px;
  }

  .graph-md {
    margin-left: 0;
  }

  .team-member h5 {
    font-size: 14px;
  }

  .order-setting .img-product {
    margin-right: 20px;
  }
  /* ======= New css add end here ======== */
}

/* =========== 1200 ========== */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}

/* =========== 1199 ========== */
@media (max-width: 1199px) {
  .about-working .group-img {
    height: 500px;
    width: 65%;
    margin: 0px auto;
  }

  .home-header2 .slider-form form {
    width: 80%;
  }

  .essential-logo img {
    max-width: 200px;
  }

  .home-header2 .nav-item {
    padding: 0 5px;
  }

  .home-header2 .main-nav .nav-link,
  .home-header2 .dropdown .dropdown-text {
    font-size: 16px !important;
  }

  .home-header2 .top-right .userpanel-link .amount {
    margin-left: 0;
  }

  .home-header2 .account-view {
    margin-left: 20px;
  }

  .about-working .working-content {
    padding-left: 0;
  }

  .billing-address {
    margin-top: 78px;
  }

  #essential-homebanner .slider-container {
    padding: 300px 50px 100px 50px;
  }

  .home-header2 #essential-homebanner .slider-sub-title {
    font-size: 70px;
  }

  .home-header2 #essential-homebanner .slider-title {
    font-size: 55px;
  }

  .has-search .form-control {
    padding: 15px 25px;
  }

  .has-search .input-group-append .btn {
    padding: 0.375rem 3.1rem;
  }

  .profile_settingright .profile-upload {
    margin-right: 0;
  }
}

/* =========== 1190 ========== */
@media (max-width: 1190px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
  }

  .dropdown-text {
    font-size: 14px !important;
  }

  .top-right .tollfree-link {
    margin-right: 10px;
  }

  .nav-item {
    padding: 0 15px;
  }

  .top-right .ui.dropdown .img-circle {
    display: none;
  }

  /* ======= New css add here ======== */
  .home-header2 .nav-item {
    padding: 0;
  }

  .home-header2 a.nav-link {
    font-size: 14px !important;
  }

  /* ======= New css add end here ======== */
}

/* =========== 1040 ========== */
@media (max-width: 1040px) {
  .top-right .tollfree-link {
    margin-right: 0px;
  }

  .vej-logo {
    float: left;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .vej-selectcity {
    margin-left: -3px;
    float: left;
    margin-top: 0px;
  }

  .top-right {
    margin-left: auto;
  }

  /*.ui.selection.dropdown{
		z-index: 999999;
	}*/
}

/* =========== 992 ========== */
@media screen and (max-width: 992px) {
  .order-settingmain .icon-content {
    width: 50%;
  }
}

/* ======= Mobile Menu Start ======= */
/* =========== 992 ========== */
@media (max-width: 992px) {
  .search-full-view .input-group .form-control {
    height: 50px;
  }

  .navbar-nav .nav-link {
    font-weight: 400;
  }

  .home-header2 .dropdown .dropdown-text {
    width: 100%;
    font-size: 14px !important;
    font-weight: 400;
  }

  .home-header2 .dropdown .dropdown-text,
  .home-header2 .dropdown .icon {
    color: #fff !important;
  }

  .home-header2 .ui.selection.dropdown {
    min-width: 100% !important;
  }

  .holder-divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-collapse {
    position: fixed;
    top: 0px;
    left: 0;
    padding: 10px 20px 20px;
    width: 70%;
    height: 100%;
    border-color: #f55d2c;
    z-index: 1033;
  }

  .home-header2 .dropdown .icon {
    padding: 0.91666667em !important;
  }

  .top-right {
    position: relative;
  }

  .navbar-collapse.collapsing {
    left: -70%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }

  .essential-home .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #fff;
    background: transparent;
  }

  .navbar-dark .navbar-toggler {
    color: #f46432;
    border: 2px solid #f46432;
    background: #f46432;
  }

  .navbar-toggler {
    padding: 0 10px 1px;
  }

  .navbar-toggler-icon {
    max-width: 20px;
  }

  .navbar {
    display: inline;
  }

  #essential-homebanner .slider-sub-title {
    font-size: 40px;
  }

  #essential-homebanner .slider-title {
    font-size: 45px;
    padding: 20px 0 0 0;
  }

  #essential-homebanner .slider-buttton {
    font-weight: 500;
    padding: 15px 30px;
  }

  .essential-logo {
    text-align: center;
    padding-top: 15px;
  }

  .home-header2 .essential-logo {
    padding: 0 !important;
  }

  .nav-item {
    text-align: left;
  }

  .ui.selection.dropdown .menu > .item {
    color: #2b2f4c !important;
  }

  .ui.selection.dropdown {
    padding: 0 !important;
    display: flex !important;
    align-items: center;
  }

  .information-inner {
    display: block;
  }

  .nav-item {
    padding: 0;
    margin: 0;
  }

  #essential-homebanner .slider-title {
    font-size: 30px;
    padding: 30px 0;
  }

  .nav-item .dropdown-text {
    text-transform: capitalize !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .ui.selection.dropdown .menu > .item:hover {
    color: #f55d2c !important;
  }

  .about-working .group-img {
    width: 85%;
  }

  .about-service .working-content {
    padding: 50px 0;
    text-align: left;
  }

  .empty-content {
    padding: 0;
  }

  .essential-heading .heading_text,
  .working-content h3,
  .percent_text,
  .detail_right h1 {
    font-size: 25px;
  }

  .working-content h4,
  .essential-heading h4,
  .account-setting h2,
  .essential-information h4 {
    font-size: 18px;
  }

  .essential-information p,
  .blogs-holder .badge,
  .blogs-holder .blog-time,
  p,
  .checkout-section .media-heading h2,
  .checkout-section .media-heading .price,
  .form-control,
  .checkout-section .back,
  .cart-detail .input-group #button-apply,
  .cart-section .table td,
  .order-setting .order-heading,
  .comming-soon input,
  ul li {
    font-size: 100% !important;
  }

  .blogs-holder .blog-title,
  .cart-section h2,
  .checkout-section .policy-links a,
  .cart-detail label,
  .cart-detail .buttons .btn {
    font-size: 16px;
  }

  .contact-right label {
    margin-bottom: 10px;
    font-size: 100% !important;
  }

  .quality-main h4 {
    font-size: 18px;
    margin-top: 0;
  }

  .essential-information .media,
  .product_details .detail_mid .tab-content {
    margin-bottom: 35px;
  }

  .organics .product-creative-title {
    position: absolute;
    top: 30%;
    left: 15%;
  }

  .blog-left {
    margin-bottom: 50px;
  }

  .food-left,
  .food-right {
    width: 100%;
  }

  .contact-left,
  .checkout-section .form {
    padding-right: 0;
  }

  .contact-column,
  .contact-right form {
    margin: 60px 0 0;
  }

  .cart-detail .input-group {
    width: 100%;
  }

  .cart-detail .back {
    padding-top: 0 !important;
  }

  .cart-detail .form-group {
    margin-bottom: 40px;
  }

  .profile_settingright {
    padding: 30px 0;
  }

  .detail_right .social_icons {
    text-align: left;
    margin-top: 60px;
  }

  .detail_right .qty_weight input {
    max-width: 60px;
  }

  .detail_right .qty_weight .input-group-btn {
    padding: 0 15px;
  }

  .about-service .right-banner {
    display: none;
  }

  #essential-introduction2 {
    padding: 20px 35px 32.5px;
  }

  #essential-categorys,
  #essential-runnings {
    padding: 32.5px 50px;
  }

  .popular-product {
    padding: 32.5px 50px 25px;
  }

  .organics {
    padding: 25px 35px 32.5px;
  }

  .latest-product,
  .team-member {
    padding: 32.5px 50px;
  }

  .our-speech {
    padding: 32.5px 0;
  }

  .blogs-holder {
    padding: 32.5px 80px;
  }

  .essential-newsletter {
    margin: 32.5px 0;
  }

  .essential-information {
    padding: 0 35px 30px;
  }

  .about-working {
    padding: 50px 50px 32.5px;
  }

  .about-service {
    margin: 32.5px 0 50px;
  }

  .since-about {
    padding: 25px 35px 32.5px;
  }

  .quality-main {
    padding: 32.5px 35px 25px;
  }

  .quality-main .essential-heading,
  .cart-section .table {
    margin-bottom: 50px;
  }

  .about-brands {
    padding: 32.5px 50px 65px;
  }

  .blog-section,
  .cart-section,
  .category-section1,
  .category-section,
  .checkout-section,
  .contact-section,
  .account-setting,
  .cart-empty,
  .faq-section,
  .form-section,
  .product_details,
  .essential-form {
    padding: 50px 35px 65px;
  }

  .middle-bg {
    margin: 40px 0 50px;
  }

  .blog-right {
    margin-top: 50px;
  }

  .grid-top {
    margin-bottom: 50px;
  }

  .category-boxholder {
    margin-bottom: 35px;
  }

  #category-popular .owl-dots {
    text-align: center;
    padding: 75px 0 45px;
  }

  .top-header {
    text-align: center;
  }

  .running-body h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .running-body h4,
  .payment h1 {
    font-size: 18px !important;
  }

  .custom_radio li label {
    font-size: 16px;
  }

  .billing-address {
    margin-top: 75px;
  }

  #essential-running img {
    max-width: 100px;
  }

  #essential-running .product-holder {
    min-height: 185px;
  }

  .right-arrow {
    margin-top: 6px;
  }

  .about-service {
    padding: 0 35px;
  }

  .home-header2 .top-right .userpanel-link .amount {
    margin-left: 0;
  }

  .home-header2 .account-view {
    margin-left: 20px;
  }

  #essential-introduction2 .sideImage img {
    width: 100%;
    max-width: 80px;
  }

  #essential-introduction2 .sideImage {
    top: -30%;
  }

  .lside-img img {
    width: 100%;
    max-width: 80px;
  }

  .rside-img img,
  .sideImg1 img,
  .sideImg2 img,
  .sideImage img {
    width: 100%;
    max-width: 60px;
  }

  .search-full-view .input-group .input-group-addon {
    font-size: 14px;
    top: 15px;
  }

  .product-offer .banner-column:first-child {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .essential-heading {
    margin-bottom: 40px;
  }

  .payment-detail p {
    font-size: 18px !important;
  }

  .success-payment {
    margin-bottom: 100px;
  }

  .payment-success {
    padding: 100px 50px 100px;
  }

  .success-payment h1 {
    font-size: 35px;
  }

  .success-img {
    width: 150px;
    height: 150px;
  }

  .success-img img {
    max-width: 80px;
  }

  .top_date {
    font-size: 18px;
  }

  .home-header2 #essential-homebanner .slider-sub-title {
    font-size: 60px;
  }

  .home-header2 #essential-homebanner .slider-title {
    font-size: 45px;
  }

  .cart-section .qty input {
    width: auto;
  }
}

/* =========== 990 ========== */
@media only screen and (max-width: 990px) {
  .vej-product-grid {
    margin-bottom: 30px;
  }
}

/* =========== 795 ========== */
@media (max-width: 795px) {
  #essential-homebanner .swiper-slide svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* =========== 768 ========== */
@media (max-width: 768px) {
  .about-working .group-img {
    width: 100%;
  }

  .heading1 {
    font-size: 18px;
  }

  .category-sidebar .filter-group .list-menu a,
  .cart-detail .back a {
    font-size: 100% !important;
  }

  .blog-left .list-inline-item:not(:last-child) {
    margin-right: 18px;
    margin-bottom: 10px;
  }

  .blog-left .list-inline-item:last-child {
    margin-left: 0;
  }

  .cart-section .table {
    margin-bottom: 0 !important;
  }

  .cart-detail {
    margin-top: 50px;
  }

  .btn-shopnow {
    font-size: 14px;
  }

  .related-content h3,
  .food-column h3 {
    font-size: 16px;
  }

  .related-content .related-time,
  .related-img,
  .related-content h3 {
    margin: 0 0 10px;
  }

  .food-column {
    display: block;
    text-align: center;
  }

  .food-column .food-right {
    text-align: center;
  }

  .food-column .food-left {
    margin-bottom: 30px;
  }

  #foodinfo-carousel .owl-nav {
    bottom: 50%;
  }

  .comment-form .form-control {
    padding: 12px 20px;
  }

  #essential-introduction2 .sideImage {
    top: 0;
  }

  #essential-introduction2 .sideImage img {
    max-width: 60px;
  }

  .lside-img img {
    max-width: 55px;
  }

  .rside-img img,
  .sideImage img {
    max-width: 40px;
  }

  .rside-img {
    bottom: 5%;
  }

  .essential-footer2 {
    padding: 0 30px 60px;
  }

  #essential-homebanner .slider-sub-title {
    font-size: 30px;
  }

  #essential-homebanner .slider-title {
    font-size: 25px;
    padding: 20px 0 30px;
  }

  .home-header2 #essential-homebanner .slider-sub-title {
    font-size: 50px;
  }

  .home-header2 #essential-homebanner .slider-title {
    font-size: 35px;
  }

  .has-search .input-group-append .btn {
    font-size: 14px;
    padding: 0.375rem 2.1rem;
  }
}

/* =========== 767 ========== */
@media (max-width: 767px) {
  .navbar-dark .navbar-toggler {
    position: absolute;
    top: -85px;
    right: 0;
  }

  .essential-logo img {
    max-width: 180px;
  }

  .home-header2 .navbar-dark .navbar-toggler {
    right: 0;
    top: -125px;
  }

  .mid-boxholderright {
    margin: 0 0 40px;
  }

  .blogs-holder .owl-dots {
    margin-top: 25px;
  }

  .core_inner h2 {
    bottom: 20%;
    right: 20%;
  }
  .core_img img {
    height: 245px;
  }
  .ban {
    height: auto !important;
  }

  .top-left ul li {
    display: block;
    text-align: center;
    vertical-align: middle;
  }

  .essential-logo {
    padding-top: 30px;
    text-align: left !important;
  }
  .top-right {
    text-align: center !important;
    margin: 30px 0 0;
  }

  .home-header2 .top-right {
    text-align: center !important;
    margin: 20px 0 0;
  }

  .notibubble {
    position: absolute;
    top: -10px;
  }

  .navbar-brand {
    padding: 23.5px 20px;
    font-size: 18px;
    display: block !important;
  }

  #essential-carousel .owl-nav {
    position: relative;
    top: auto;
    right: 0px;
    font-size: 30px;
    font-weight: 600;
    top: -50%;
  }

  #essential-carousel .owl-nav button.owl-prev i {
    position: absolute;
    left: 0;
  }

  #essential-carousel .owl-nav button.owl-next i {
    position: absolute;
    right: 0;
  }

  .mega-menudesktop {
    display: none;
  }

  .since-about .working-content {
    margin-top: 50px;
  }

  .team-member h5 {
    font-size: 16px;
  }

  .top-header,
  .about-service .working-content {
    text-align: center;
  }

  .quality-main,
  #essential-introduction2 {
    padding-bottom: 0;
  }

  #essential-introduction2 .mid-boxholder2 {
    margin-bottom: 50px;
  }

  .popular-product .product-holder,
  .latest-product .product-holder {
    margin-bottom: 25px;
  }

  .home-header2 .essential-logo {
    text-align: left !important;
  }

  .home-header2 #essential-homebanner .slider-sub-title {
    text-align: center;
    font-size: 295.75% !important;
  }

  .home-header2 .slider-form form {
    width: 100% !important;
  }

  .middle-bg {
    padding: 35px 35px 40px;
  }

  .top_date {
    top: 15px;
    right: 15px;
    font-size: 16px;
  }

  .search_form {
    margin-top: 20px;
  }

  .checkout-section .policy-links,
  .cart-detail .back,
  .detail_left {
    margin-bottom: 50px !important;
  }

  .account-setting .nav {
    margin-bottom: 20px !important;
  }

  .profile-preview {
    text-align: center;
  }

  .product_details .nav-tabs li {
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .product_details .nav-tabs li:first-child {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .comming-soon h1 {
    font-size: 55px;
  }

  .comming-soon .countdown div {
    font-size: 25px;
  }

  .comming-soon .countdown span {
    font-size: 18px;
  }

  .comming-soon .fa {
    font-size: 16px;
  }

  .comming-soon li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .notfound h1 {
    font-size: 30px;
  }

  .notfound-404 h2 {
    font-size: 180px;
  }

  .comment-part .media {
    flex-wrap: wrap;
  }

  .blogs-holder {
    padding: 32.5px 40px !important;
  }

  .cart-detail {
    padding-bottom: 30px;
  }

  .about-working {
    padding: 25px 50px 32.5px !important;
  }

  .about-service {
    margin: 32.5px 0 25px !important;
  }

  .quality-main .essential-heading,
  .cart-section .table {
    margin-bottom: 40px !important;
  }

  .about-brands {
    padding: 32.5px 50px 32.5px !important;
  }

  .blog-section,
  .cart-section,
  .category-section1,
  .category-section,
  .checkout-section,
  .contact-section,
  .account-setting,
  .cart-empty,
  .faq-section,
  .form-section,
  .product_details,
  .essential-form {
    padding: 50px 35px 32.5px !important;
  }

  .middle-bg {
    margin: 20px 0 25px !important;
  }

  .blog-right {
    margin-top: 25px !important;
  }

  .grid-top {
    margin-bottom: 25px !important;
  }

  .category-boxholder {
    margin-bottom: 25px !important;
  }

  #category-popular .owl-dots {
    padding: 50px 0 35px !important;
  }

  .latest-product .product-holder .p-buttonarea .btn,
  .popular-product .product-holder .p-buttonarea .btn {
    padding: 6px 10px;
  }

  .latest-product .product-holder .p-buttonarea a.btn-wish,
  .popular-product .product-holder .p-buttonarea a.btn-wish {
    margin: 0 2px;
  }

  #essential-running .product-holder {
    min-height: 140px !important;
  }

  #essential-running img {
    max-width: 70px !important;
  }

  .running-body h2,
  .detail_mid .tab-content h4 {
    font-size: 16px !important;
  }

  .running-body h4 {
    font-size: 100% !important;
  }

  .product_details .btn-pcart {
    padding: 6px 15px;
  }

  .product_details .btn-wish {
    margin-left: 2px;
  }

  #essential-introduction .mid-imgholder {
    margin: 50px 0;
  }

  .parallax-container .count-title {
    font-size: 45px;
  }

  .whygrocino .why-sliderinner {
    padding: 40px 15px;
  }

  .blog-left h2 {
    font-size: 22px;
  }

  .product-list .image {
    float: none;
  }

  .product-list .product-thumb .caption {
    margin-left: 0;
    padding: 15px 0 0 !important;
  }

  #category-filter .product-holder,
  .grid-top {
    margin-bottom: 35px;
  }

  .checkout-section .form h2 {
    font-size: 18px;
  }

  .payment-detail p {
    font-size: 16px !important;
  }

  .success-payment {
    margin-bottom: 65px;
  }

  .success-payment h1 {
    font-size: 30px;
  }

  .payment-success {
    padding: 65px 30px 65px;
  }

  .account-setting h2 {
    margin-bottom: 30px;
  }

  .our-speech .owl-nav {
    top: 50%;
  }

  .our-speech .owl-prev {
    margin-left: 5% !important;
  }

  .our-speech .owl-next {
    margin-right: 5% !important;
  }

  .profile_settingright .profile-upload {
    width: 130px;
    margin: 0px auto;
  }

  .profile_settingright .ui.form input,
  .profile_settingright .ui.form select,
  .profile_settingright .ui.form textarea {
    margin: 0 !important;
  }

  .profile_settingright .ui.form .field label {
    bottom: 10px;
  }

  .cart-section .img-product {
    min-width: 60px;
    min-height: 60px;
  }

  .essential-top-header {
    padding-bottom: 0;
  }

  .billing-address {
    margin-top: 0;
  }

  .cart-detail {
    padding-top: 0;
    margin-top: 30px;
  }

  .checkout-section .btn-lg {
    font-size: 16px;
  }

  .payment {
    padding: 25px 0 0;
  }

  .category-sidebar .filter-group {
    margin-bottom: 50px;
  }
}

/* =========== 620 ========== */
@media (max-width: 620px) {
  #essential-about .group-img img {
    max-width: 260px;
  }

  .essential-newsletter .form-control {
    height: 50px;
    padding: 10px 115px 10px 15px;
  }

  .essential-newsletter .btn.btn-subscriber {
    padding: 14px 25px;
    border-radius: 0 50px 50px 0;
    font-size: 14px;
  }

  .detail-left .media {
    display: block;
  }

  .detail-left .media-left {
    margin-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .inline-info {
    display: block;
  }

  .inline-info .first {
    margin-bottom: 15px !important;
  }

  .sideImg1 img,
  .sideImg2 img {
    max-width: 40px;
  }

  .order-setting .img-product {
    margin-bottom: 20px;
  }

  .right-order {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
}

/* =========== 515 ========== */
@media (max-width: 513px) {
  .detail_right .qty_weight label {
    margin-bottom: 10px;
    text-align: center;
  }
}

/* =========== 480 ========== */
@media (max-width: 480px) {
  #essential-homebanner .swiper-button-prev {
    padding: 0 0 0 20px;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
  }

  #essential-homebanner .swiper-button-next {
    padding: 0 0 0 10px;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
  }

  .heading_circle:before {
    margin-right: 25px;
  }

  .heading_circle:after {
    margin-left: 25px;
  }

  .coupon-code img {
    width: 100%;
  }
  .customedisplay {
    display: none !important;
  }

  .top-header .list-inline-item:not(:last-child) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 0;
  }

  .organics h3 {
    font-size: 18px;
  }

  .detail_right h2 {
    font-size: 20px;
  }

  .organics h2 {
    font-size: 22px;
  }

  .detail_right .price {
    font-size: 25px;
  }

  .comming-soon h1 {
    font-size: 40px !important;
  }

  .comming-soon .countdown div {
    min-width: 100%;
  }

  .inline-info,
  .detail-left .media {
    text-align: center;
  }

  .essential-footer2 ul li a {
    font-size: 14px !important;
  }

  .comment-part .media-heading,
  .detail_mid .tab-content .media {
    display: block;
  }

  .detail_mid .tab-content .media-left {
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  .detail_mid .tab-content .media-body ul .date {
    float: none;
  }

  .detail_right .buttons .btn-default {
    font-size: 100% !important;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
  }

  .product_details .nav-tabs li {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  .product_details .nav-tabs li:first-child {
    margin-right: 0;
  }

  .product_details .detail_mid .tab-content {
    padding: 30px 20px 0;
  }

  .product_details .detail_img img {
    border-radius: 10px;
  }

  .product_details hr {
    margin: 25px 0;
  }

  .detail_right .social_icons,
  .detail_right .buttons {
    text-align: center;
  }

  .product_details .btn-pcart {
    font-size: 100% !important;
  }

  .blog-tags ul {
    text-align: center;
  }

  .essential-heading {
    margin-bottom: 30px;
  }

  .success-img {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
  }
  .success-img img {
    max-width: 50px;
  }

  .success-payment h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .success-payment h2,
  .payment-detail .btn {
    font-size: 18px;
  }

  .payment-detail .btn {
    padding: 15px;
    margin-top: 40px;
  }

  .payment-detail p {
    font-size: 100% !important;
  }

  .essential-footer2 h4 {
    margin-bottom: 25px !important;
  }

  .essential-footer2 #essential-footer .essential-second-row-item {
    margin-top: 45px;
  }

  .profile_settingright .form .btn,
  .order-setting .order-heading .btn-orange {
    width: 100%;
  }

  .has-search .form-control {
    padding: 10px 20px;
  }
}

/* =========== 444 ========== */
@media (max-width: 444px) {
  .detail_right .qty_weight label {
    margin-bottom: 10px;
  }
}

/* =========== 425 ========== */
@media (max-width: 425px) {
  .bs-canvas {
    width: 300px;
  }
  .product-areaholder .product-holder .p-price span {
    margin-left: 2.5rem;
  }
  .product-areaholder .product-holder .p-buttonarea span {
    margin-left: 0.5rem;
  }

  .detail_right .qty_weight {
    justify-content: left;
    margin-top: 20px;
  }

  .detail_right .d-inline-flex {
    display: block !important;
  }

  .cart-checkout-btn {
    text-align: center;
  }

  iframe {
    width: 365px !important;
  }

  .home-header2 .top-right ul {
    text-align: center !important;
  }

  .home-header2 .essential-logo {
    text-align: left !important;
  }

  #essential-about .group-img {
    height: 310px;
  }

  #essential-about .group-img img {
    max-width: 170px !important;
  }

  .working-content .btn {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .essential-heading .heading-dots:before {
    margin-right: 15px;
  }

  .essential-heading .heading-dots:after {
    margin-left: 15px;
  }

  .team-member .item:hover .hover-content {
    bottom: 70px;
  }

  .top-header .list-inline-item:not(:last-child) {
    margin-right: 0;
    padding-right: 0;
  }

  .essential-newsletter .form-control,
  .essential-newsletter .btn.btn-subscriber,
  .food-column h3,
  .discrips li {
    font-size: 14px !important;
  }

  .essential-newsletter .form-control {
    height: 45px !important;
  }

  .essential-newsletter .btn.btn-subscriber {
    padding: 11px 15px !important;
  }

  .blogs-holder {
    padding: 65px 35px !important;
  }

  .essential-heading .heading_text,
  .working-content h3,
  .percent_text,
  .detail_right h1 {
    font-size: 22px !important;
  }

  .detail-left h2 {
    font-size: 20px !important;
    text-align: center;
  }

  .working-content h4,
  .essential-heading h4,
  #essential-introduction2 .mid-boxcenter h4,
  #essential-categorys .c-title a,
  .essential-information h4 {
    font-size: 16px !important;
  }

  .quality-main h4,
  .latest-product .product-holder .p-title,
  .contact-section h2,
  .blog-left h2 {
    font-size: 18px !important;
  }

  .latest-product .product-holder .p-buttonarea .btn,
  .popular-product .product-holder .p-buttonarea .btn {
    padding: 6px 10px;
  }

  .food-column span {
    font-size: 100% !important;
    margin-bottom: 10px;
  }

  .heading_circle:before {
    margin-right: 15px;
  }

  .heading_circle:after {
    margin-left: 15px;
  }

  #essential-about .owl-dots {
    margin: 20px 0 0;
  }

  .essential-information .media {
    display: block;
    text-align: center;
  }

  .essential-information .img-left {
    margin: 0px auto;
    margin-bottom: 20px;
  }

  .mid-boxcenter .service_image img {
    max-width: 60px;
  }

  .mid-boxcenter .service_image {
    width: 90px;
    height: 90px;
    line-height: 115px;
  }

  .checkout-section .btn-lg {
    padding: 15px;
    width: 100%;
  }
}

/* =========== 375 ========== */
@media (max-width: 376px) {
  .home-header2 #essential-homebanner .slider-container {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .home-header2 #essential-homebanner .slider-sub-title {
    font-size: 35px;
  }

  .home-header2 #essential-homebanner .slider-title {
    font-size: 25px;
  }

  .team-member .item:hover .hover-content {
    bottom: 40px !important;
  }

  .essential-logo img {
    max-width: 160px;
  }

  .right-arrow {
    margin-top: 4px;
  }

  .btn-shopnow {
    padding: 5px 8px;
    font-size: 12px;
  }

  #essential-running .product-holder {
    padding: 0 15px 0 15px;
  }

  .category-boxholder .btn {
    font-size: 100%;
  }
}

/* =========== 320 ========== */
@media (max-width: 320px) {
  .navbar-collapse {
    width: 80% !important;
  }
  .coupon-code img {
    width: 100%;
  }
  .customedisplay {
    display: none !important;
  }
  .brand_inner {
    margin-top: 40px;
  }
  .brand_inner button {
    right: 10%;
  }
  .core_inner h2 {
    bottom: 15%;
    right: 17%;
  }
  .core_img {
    margin-bottom: 20px;
  }
  iframe {
    width: 260px !important;
  }

  .organics .product-creative-title {
    top: 20% !important;
  }

  .latest-product .product-holder .p-buttonarea a.btn-wish,
  .popular-product .product-holder .p-buttonarea a.btn-wish {
    margin: 0;
  }

  .latest-product .product-holder .p-buttonarea .btn,
  .popular-product .product-holder .p-buttonarea .btn {
    padding: 6px 10px !important;
  }

  .notfound-404 h2 {
    font-size: 125px !important;
  }
}
